@import ../global_styles/index
html, body 
	background: $bkgColor
	margin: 0
	padding: 0
	left: 0
	right: 0
	top: 0
	bottom: 0

body 
	width: 100%
	height: 100vh
	background: url('../../images/yellow_drawer.svg')
	background-position: right
	background-size: contain
	background-repeat: no-repeat
	overflow: hidden
	color: $textColor
	line-height: $base_line__height
	font-weight: $font_weight__normal
	font-size: $font_size__base
	font-family: $font_family__primary
	@include mediaQ(medium)
		font-size: $font_size__base + 1
	@include mediaQ(small)
		background: $bkgColor

h1
	line-height: 0.9 
	font-size: ($font_size__base + 4) * 4
	@include mediaQ(medium)
		line-height: 1
		font-size: ($font_size__base + 4) * 3
	@include mediaQ(small)
		font-size: 	($font_size__base + 4) * 1.2

p 
	opacity: 0.7
	margin-bottom: 20px
	letter-spacing: 0.3px

.bs_app 
	@include display_grid
	grid-template-columns: 50% 50%
	grid-template-rows: 1fr
	max-width: 1200px
	padding: 80px
	box-sizing: border-box
	@include mediaQ(small)
		grid-template-columns: 100%
		padding: 40px

.bs_left 
	h1 
		@include mediaQ(small)
			margin-bottom: 20px !important
			margin-top: 10px !important
	button
		@include mediaQ(small)
			margin-top: 20px !important


.articles_page
	@include display_grid
	grid-template-columns: 1fr
	grid-template-rows: 1fr
	max-width: 1200px
	padding: 80px
	box-sizing: border-box
	@include mediaQ(small)
		grid-template-columns: 100%
		padding: 40px

.post_card
	display: inline-block
	background: $white
	border-radius: 10px 
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16)
	@include mediaQ(medium)
		width: 47%
		height: auto
		margin: 0 7px
	@include mediaQ(large)
		width: 29.8%
		margin: 0 10px


.img1, .img2
	display: block
	width: 310px
	height: 170px
	border-radius: 10px 10px 0 0
	background: url('../../images/img1@2x.png')
	background-size: contain
	background-repeat: no-repeat

.post_content 
	padding: 20px

.post_date
	font-weight: normal
	color: $dateColor
	font-size: $font_size__base - 4
	font-family: $font_family__primary

.post_headline
	font-weight: bold
	color: $textColor
	font-size: $font_size__base + 2
	font-family: $font_family__primary

.post_para
	margin-top: 10pxs
	letter-spacing: 0
	color: $textColor
	font-size: $font_size__base - 2

.single_post
	padding: $padding
	@include mediaQ(small)
		padding: $padding / 2

	& p 
		opacity: 1

.single_img 
	width: 100%
	height: auto
	margin-top: $padding - 60
	margin-bottom: $padding - 60
	padding: 0
	left: 0

.single_paragraphs 
	display: inline-block


.bs_right
.logo
	display: block
	width: 200px
	height: 87px
	padding: 80px 0 200px 80px
	@include mediaQ(medium)
		padding: 80px 0 100px 80px
	@include mediaQ(small)
		width: 140px
		padding: 40px 0 80px 40px
	
.profil_img 
	position: absolute
	bottom: 0
	width: 500px
	right: 20%
	@include mediaQ(medium)
		width: 350px
		right: 2%
	@include mediaQ(small)
		display: none

footer 
	position: absolute
	bottom: 0
	width: 100vw
	height: 80px
	@include mediaQ(small)
		padding: 0px  !important
		margin-left: -40px

	&.isOpen
		background: $white



